<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.serviceModel>
    <services>
      <service name="OfficeToHtml5Service.Service1" behaviorConfiguration="serviceBehavior">
        
        <endpoint address="" binding="webHttpBinding" contract="OfficeToHtml5Service.IService1" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
           <!--To avoid disclosing metadata information, set the value below to false before deployment--> 
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
           <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information--> 
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <services>
      --><!-- Note: the service name must match the configuration name for the service implementation. --><!--
      <service name="OfficeToHtml5Service.IService1" behaviorConfiguration="MyServiceTypeBehaviors" >
        --><!-- Add the following endpoint.  --><!--
        --><!-- Note: your service must have an http base address to add this endpoint. --><!--
        <endpoint contract="IService1" binding="mexHttpBinding" address="mex" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          --><!-- Add the following element to your service behavior configuration. --><!--
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  
 <system.webServer>
   <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="tableReports" value="ReportListing" />
  </appSettings>
</configuration>
